/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 
body{
 color:#0C120C;
}
 
footer{
   padding-top: 10em;
   background-color: #2C5371;
   color: white;
 
}
footer a{
   color: white;
   text-decoration: none;
 
}
 
.login ul li{
   display: inline;
 
}
 
i{ color:#2C5371; }
 
.activePage{
   font-weight: bolder;
   color:#0C120C;
   border-bottom: 4px solid #72984B;  
   padding-bottom: 2px;
}
 
.logo img{
   width: 50px;
   height: 50px;
}
 
.logo span{
   font-family: 'Kaushan Script', cursive;
   color: #72984B;
   font-size: 1.2em;
}
.vetSearchBox h1, #aboutUs h1{
   font-family:  'Anton', sans-serif;
   letter-spacing: 2px;
   font-size: 5em !important;
   font-weight: 600;
   margin-bottom: 3rem;
}
.vetSearchResults{
   display:none;
}
.full-width{
   width: 100vw;
   height: 90vh;
}
 
.full-width-login{
   padding-top: 10em;
   width: 100vw;
   height: 70vh;
}
 
 
.aboutUsSection .aboutUsImage{
   float: left;
   margin-left: 30%;
   margin-right: 5em;
 
}
.aboutUsSection{
   padding-top: 10em;
  
 
}
 
 
.grey-bg{
 
   background-color:#878472;
   color: white;
}
.half-height{
   width: 100vw;
   height: 50vh;
}
 
a{ text-decoration: none; }
 
 
table{
   width:80%;
   border-collapse: collapse;
   color:#0C120C;
 
}
th,td{
   color:#2C5371;
   font-size: 1.2em;
   text-align: left;
  
}
 
td{
   /* padding: 8px;     */
}
 tr:nth-child(even) {background-color: #f5f5f5;}
 
button:hover {cursor: pointer }
 
ul li{ list-style: none; }
 
button{
   width: 10em;
   padding: 1em;
   border: none;
   font-weight: bold;
   border-radius: 4px;
}
select{
   width: 8em;
   padding: 1em;
   /* height: 2em; */
   border:none;
   border-radius: 4px;
   background-color: #F5F5F5;
   color:#0C120C !important;
}
 
/* Hero Section Styles */
 
.top-nav a:hover, .main-nav:hover{
   color:#72984B;
}
 
 
.top-nav{
   background-color: white;
   display: flex;
   justify-content: space-between;
   padding-right:5em;
   padding-left: 5em;
   padding-top: 1em;
 
 
}
.top-nav ul li{ display: inline; }
 
 
 
.main-nav ul{
   background-color: #F5F5F5;
   height: 3em;
   line-height: 3em;
   font-weight:500;
   margin: 0 auto;
   display: flex;
   justify-content: center;
  
 
}
.main-nav ul li{
  
   margin-right: 4em;
   font-size: 1.1em;     
  
}
.main-nav ul li a:hover{ color:#72984B !important; }
 
.main-nav ul li a{
   text-decoration: none;
   color: #2C5371;
 
}
header{
   background-image: url(../chihuahua.jpg);
   background-repeat:no-repeat;
   background-size: cover;
}
.vetSearchBox{
   background-color: rgba(44,83,113,.8); 
   width: 60vw;
   height: 40vh;
   margin: 200px auto 0 auto;
   text-align: center;
   padding-top: 5em;
   padding-bottom:5em;   
   color: white;
   border-radius: 15px 50px;
 
}
 
 
.vetSearchBox label{
   font-size:1.2em;
   margin-right:.5em;
   margin-left: 2em;
}
 
.vetSearchResults button:hover{
   background-color:#2C5371;
   color:white;
}
.vetSearchResults button{
   background-color:#72984B;
   color: white;
   border-radius: 4px;
}
 
 
.vetSearchResults h3{
   font-size: 2em;
   color:#0C120C;
   padding-top: 5em;
   padding-bottom: 2em;
}
 
.form{
   display:inline-flex;
}
 
#mainSearchVetBtn:hover{
   background-color: #2C5371;
   color: #72984B;
   /* border: 4px solid #72984B; */
}
#mainSearchVetBtn{
   background-color: #72984B;
   width: 20em;
   color: white;
   margin-left: 3em;
   border-radius: 4px;
 
 
}
 
/* Search Results Styles: Default: Hidden */
 
 
section.vetSearchResults{
   text-align: center;
}
#topSearchResults{
   height:40vh;
   margin: 0 auto;
   margin-bottom: 2.5em;
 
}
.resultRow{
   height: 2em;
   /* border: 2px solid #2C5371; */
   margin-bottom:1em;
  
}
 
 
 
 
 
/* About Us Section */
 
 
#aboutUs{
   background-color:#2C5371;
   color: white;
}
.aboutUsImage img{
   height: 500px;
   width: 400px;
   margin-right: 2em;
}
 
/* Blog preview section */
.blog-card{
   color:#878472;
   display: inline-flex;
}
 
.blog-card img{
   width: 25%;
   height: 150px;
   margin-right:1em;
}
.blog-card h4 {
   color:#2C5371;}
 
.blog-card .date{
   font-weight: 500;
   color:#878472;
}
 
.blog-card .author{ font-weight: 500; }
.blog-card .readArticle{
   font-weight: 600;
}
 
.blog-card a{
  
   text-decoration: none;
   color:#72984B;
}
.blog-card button{
   background-color: white;
   border:none;
}
.blog-card p{width: 60%;}
section#blog{
  
   padding: 5em 2em 0 2em;
}
/* Footer Styles */
 
#RegisteredVetsPg .hero, #serviceLocationsPg .hero{
   text-align: center;
   margin: 20em auto;
   width: 70vw;
 
}
 
#RegisteredVetsPg .hero p, #serviceLocationsPg .hero p{
   width: 50%;
   margin: 2em auto;
}
 
#RegisteredVetsPg .registered-vets-results th{
   color: white;
}
#RegisteredVetsPg .registered-vets-results{
   padding-top: 5em;
  
}
 
 
#RegisteredVetsPg .registered-vets-results,
#serviceLocationsPg .results-page{
 
   width: 70%;
   margin: 0 auto 0 auto;
   text-align: center;
 
}
 
 
 
 
/* Service Location Page Styles */
 
#serviceLocationsPg h3{
   margin-left: 5em;
   padding-top: 2.5em;
   padding-bottom: 4em;
}
 
#serviceLocationsPg .county-btn:hover{
    background-color:#72984B;
    color: white;
}
#serviceLocationsPg .county-btn{
   width: 15em;
   height: 5em;
   background-color:#F5F5F5;
   color:#0C120C
}
#serviceLocationsPg #location-selectors{
   padding: 0 7em;
   margin-bottom: 2em;
 
}
 
 
#signInPg button#signInBtn, #signInBtn2{
   background-color:#72984B !important;
   color: white;
   padding: 1em;
   border-radius: 4px !important;
}
 
#signInPg button#signUpBtn{
   background-color: white !important;
   border-radius: 4px !important;
   padding: 1em;
   color:#0C120C;
   border: 2px solid #72984B !important;
}
 
#signInPg span#signUp{
   background-color: white !important;
   border-radius: 4px !important;
   padding: 1em;
   color:#0C120C;
   border: 2px solid #2C5371 !important;
  
}

